.card {
    margin: 33px auto 0;
}

.form {
    margin: 0 auto;
    padding-bottom: 31px;

    &__title {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }

    &__input {
        margin-top: 51px;
    }

    &__button {
        margin-top: 40px;
        padding: 6px 0;

        border-radius: 4px;
        outline: none;
        box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
    }

    &__subtitle {
        margin: 19px 0 41px;
        color: #C3C1C7;
    }

    &__link {
        display: block;
        margin: 11px auto 0;
        color: #8C61FF !important;
        text-align: center;

    }
}