.form {
    .container {
        width: 70%;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
    }

    img {     
        display: block;

        width: 100%;
        max-width: 96px;
        margin: 27px auto 12px;

        border-radius: 100%;
    }

    &__input {
        height: 36px;
    }

    &__button {
        margin: 36px 0 55px;
        padding: 6px 28px;

        text-align: center;

        background: #8C61FF;
        border-radius: 4px;
        box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
    }
}