/* .star-rating {
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
      }

      .on {
        color: #000;
      }

      .off {
        color: #ccc;
      }
} */