.pagination {
  display: flex;
  justify-content: space-between;
  width: 50%;

.pagination__container {
    display: flex;
    list-style-type: none;

    // background: white;
  
    .pagination__item {
      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      width: 24px;
      height: 24px;
      margin: auto 4px;
      padding: 0 12px;

      font-size: 13px;
      line-height: 1.43;
      color: #fff;
      text-align: center;

       border-radius: 1px;


  
      &.dots:hover {
        cursor: default;
        background-color: transparent;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: #333;
      }

      &:focus {
        cursor: pointer;
        border: #234E99 1px solid; ////
      }
  
      &_selected {
        color:black;
        background-color: #fff;
      }
  
      .arrow {
        &::before {
          content: '';

          position: relative;

          /* By using an em scale, the arrows will size with the font */
          display: inline-block;

          width: 0.4em;
          height: 0.4em;

          border-top: 0.12em solid rgb(0 0 0 / 87%);
          border-right: 0.12em solid rgb(0 0 0 / 87%);
        }
  
      }
  
      &.disabled {
        pointer-events: none;
  
        .arrow::before {
          border-top: 0.12em solid rgb(0 0 0 / 43%);
          border-right: 0.12em solid rgb(0 0 0 / 43%);
        }
  
        &:hover {
          cursor: pointer;

          // background-color: #234E99 1px solid;

          // background-color: transparent;
        }
      }
    }
  }

  &__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

    &_tab {
      // min-width: 50px;
      height: 25px;
    }
  }
}