@import '../../../common/styles/forms.module';

.dialog {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    width: 30%;
    height: 40%;
    margin: 0 auto;

    // padding: 18px 24px 36px;

    background: $dialogs-color;
    border: 1px solid #4C4C4C;

   /*  &__container {
        width: 90%;
        margin: 18px auto 36px;
    } */

    &__overlay {
        position: fixed;
        inset: 0;
        background-color:  rgb(0 0 0 / 55%);
        animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }

    &__header {
        display: flex;
        justify-content: space-between;

        margin: 0;
        padding: 18px 24px;

        border-bottom: 1px solid #4C4C4C;

        h3 {
            margin: 0;
        }
    }

    &__functionality{
        padding: 24px 24px 36px;
    }
}