@mixin background-and-border {
  cursor: pointer;

  box-sizing: border-box;
  height: 36px;
  padding: 6px 28px;

  border-radius: 4px;

}

button {
    all: unset;
}

.primary {
   // background-color: red
  }
   
  .secondary {
   /*  background-color: green; */
   @include background-and-border;

   padding: 6px 0;
   background-color: #4C4C4C;
  }
   
  .tertiary {
    @include background-and-border;

    padding: 6px 0;
    background-color: #8C61FF;

    /* background-color: blue; */
  }
   
  .link {
    /* background-color: yellow; */
    font-size: 16px;
    font-weight: 700;
  }

  .purple {
    @include background-and-border; // added

    background-color: #704ECC;
    box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
  }
   
  .fullWidth {
    width: 100%;
    text-align: center;
  }

  .disabled {
    background: #4C4C4C;
  }