@mixin background-and-border {
  cursor: pointer;

  box-sizing: border-box;
  height: 36px;
  padding: 6px 28px;

  border-radius: 4px;

}

button {
    all: unset;
}

.primary {
   // background-color: red
  }
   
  .secondary {
   /*  background-color: green; */
   background-color: #4C4C4C;
  }
   
  .tertiary {
    @include background-and-border;

    padding: 6px 0;
    background-color: #8C61FF;

    /* background-color: blue; */
  }
   
  .link {
    /* background-color: yellow; */
    font-size: 16px;
    font-weight: 700;
  }

  .purple {
    @include background-and-border; // added

    /* padding: 6px 28px;

    font-size: 14px;
    font-weight: 700;
    color: white; */
    background-color: #704ECC;

    // border-radius: 4px;
  }
   
  .fullWidth {
    width: 100%;
  }

  .disabled {
    background: #4C4C4C;
  }