.button {
    all: unset;
    cursor: pointer;
}

.primary {
    background-color: red
  }
   
  .secondary {
    background-color: green;
  }
   
  .tertiary {
    background-color: #8C61FF;

    /* background-color: blue; */
  }
   
  .link {
    /* background-color: yellow; */
    font-size: 16px;
    font-weight: 700;
  }

  .purple { // added
    /* padding: 6px 28px;

    font-size: 14px;
    font-weight: 700;
    color: white; */

    background-color: #704ECC;

    // border-radius: 4px;
  }
   
  .fullWidth {
    width: 100%;
  }