.card {
    margin: 36px auto 0;
}

.form {
    &__title {
        text-align: center;
    }

    &__input {
        margin-top: 24px;
    }

    &__button {
        margin-top: 40px;
        padding: 6px 0;

        text-align: center;

        border-radius: 4px;
        outline: none;
    }

    &__question {
        margin: 20px 0 11px;
        font-size: 14px;
        font-weight: 400;
        text-align: center
    }

    &__link {
        display: block;

        width: 40%;
        margin: 0 auto;

        color: #8C61FF !important;
        text-align: center;
    }

    &__checkbox {
        margin-top: 12px;
    }

    &__frogot {
        cursor: pointer;

        display: block;

        width: 40%;
        margin-left:auto;

        font-size: 14px;
        font-weight: 400;
        color: #fff;
        text-align: right;
        text-decoration: none
    }
}