@mixin table-datacell {
    min-width: 131px;
    min-height: 88px;
    padding: 6px 24px;
    border-bottom: 1px solid  #333;
  }

.cards {
    width: 80%;
    margin: 0 auto; 

    
    &__header {
        display: flex;
        justify-content: space-between;

        &_title {
        display: flex;
        flex-direction: column;
        }

        .link {
            display: flex;
            align-items: center;
            margin: 0;
            text-decoration: none;
        }
    }

    &__empty { /// for empty content
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center; 
        justify-content: center;

        margin-top: 70px;

        p {
            color: #808080
        }
    }

    .filters {
        display: flex;
        justify-content: space-between;
        margin: 39px 0 36px;

        .clear {
            width: 144px;
            height: 36px;

            font-size: 14px;
            font-weight: 700;
            text-align: center;

            background:  #4C4C4C;
            border-radius: 4px;
            box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);
        }
    } 

    .table {
        border-collapse: collapse;
        width: 100%;
         

        .row {
            .headCell {
                min-width: 240px;
                padding: 6px 24px;

                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                text-align: left;

                background: #333; 
            }
        }

        .dataRow {
            gap: 10px;
            align-items: center;

            width:240px;
            min-height: 24px;
            padding: 6px 24px
        }

        .dataCell {
            @include table-datacell;

            &__withBtns {
                @include table-datacell;
    
                display: flex;
                align-items: center;
                justify-content: space-between;

              
            
                    &_buttons {
                        display: flex;
                        justify-content: space-between;
                        width: 20%;

                        button {
                            cursor: pointer;
                        }
            
                        button[disabled] {
                            background-color: rgb(61 54 54);
                        }
                    }
            }
        }  
    }
}