.form {
    &__title {
        font-size: 26px;
        font-weight: 700;
        text-align: center;
    }

    h3{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
        color: #C3C1C7;
        text-align: center;
    }

    img {
        display: block;
        max-width: 96px;
        margin: 27px auto 19px;
    }

    &__link {
        display: block;

        margin: 64px 0 44px;
        padding: 6px 28px;

        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;

        border-radius: 4px;
        box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
    }
}