.header {
    display: flex;
    justify-content: space-between;

    width: 80%;
    height: 60px;
    margin: 0 auto;
    padding: 12px 0;

    img {
        max-width: 156px;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_user {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        p {
            font-size: 16px;
            font-weight: 700;
            color: white;
            word-wrap: break-word;

            border-bottom: 1px dashed #999;
        }

        img {
            max-width: 36px;
            height: 36px;
            border-radius: 100%;
        }
    }

    &__link {
        text-decoration: none;
    }
}